body {
    font-family: 'Bitter', serif;    
}
/*set ids for the far right and far left items (icon and search box) and flex those right and left*/

.recipeHead {
    max-height: 300px;
}


.container {
    /*font-family: 'Bitter', serif;*/
    /*border: 2px solid gray;*/
    /*background-color: #F9F5EA;*/
    /*border-radius: 7px;*/
    /*min-height: 400px*/
}

/*Ghost Placeholder*/
.angular-ui-tree-placeholder {
    /*background: #AEB2B5;*/
    background: rgba(0,0,0,0.75);
    /*border-radius: 7px;*/
    /*border-top-right-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
}

.angular-ui-tree-placeholder .actionBox {
    /*border-radius: 7px;*/
    /*border-top-right-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
}

.vesselBox {
    /*background-color: #377F83;*/
    /*background-color: #E6AE33;*/
    background-color: #ff8f00; 
    /*border-radius: 7px;*/
    min-height: 100px;
    /*need this bc default is 15 r/l*/
    padding: 0;
    margin-bottom: 15px;
}
.vesselBox:hover  {
    /*-webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);*/
}

.actionBox {
    background-color: #8BB94D;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 80px;
}
.actionBox:hover  {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
 /*   -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);*/
}

.ingredientBox {
    background-color: #7DBCD0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ingredientBox:hover  {
 /*   -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);*/
}