/* --------  all screens (default) -----------  */	
    #mydiv {
    	font-size: 12px;
        background-color: #9F0;
    }

/* --------- iphone portrait -----------  */
@media screen and (max-width: 320px) {
    #mydiv {
    	font-size: 20px;
        background-color: #636;
    }
}

/* --------  iphone landscape-----------  */
@media screen and (min-width: 321px) and (max-width: 480px) {
	#mydiv {
    	font-size: 20px;
        background-color: #FF0;
    }
}

/* --------- ipad portrait -------------  */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {	
    #mydiv {
    	font-size: 12px;
        background-color: #090;
    }
}

/* --------- ipad landscape -------------  */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	#mydiv {
    	font-size: 12px;
        background-color: #F00;
    }
}

/* --------  large screen ( 1440px or more) -----------  */
@media screen and (min-width: 1440px) {
    #mydiv {
    	font-size: 18px;
        background-color: #F90;
    }
}




