body {
  font-family: 'Bitter', serif;    
}
.showImg {
	width: 100%;
	max-height: 400px;
}

.vesselBox {
    background-color: #ff8f00;
    padding-bottom: 18px;
    padding-left: 5px;
    padding-top: 3px;
    /*min-height: 100px;*//*need this bc default is 15 r/l*/
    /* margin-bottom: 15px; */
    /*display:flex;*/
    margin-bottom: 10px;
    margin-top: 10px;
}

.transitionBox {
	position: relative;
	background-color: #8BB94D;
	min-height: 40px;
	left: 30px;
	margin-bottom: -10px;
	margin-top: -10px;
	width: 92.5%;
/* 	padding-left: 5px; */
/*     padding-top: 3px; */
}

.actionBox {
    background-color: #8BB94D;
    position: relative;
/*     min-height: 60px; */
    padding-bottom: 18px;
    margin-bottom: 10px;
    left: 25px;
    
}

.timeIngredientsBox {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
   
}

.timeBox {
	width: 5%;
	min-width: 30px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.ingredientsBox {
    position: relative;
    left: 23px;
    width: 95%




}

.ingredientBox {
    background-color: #7DBCD0;
}