body {
    font-family: 'Bitter', serif;    
}

.recipeHead {

}

.ingredientHead {
	
}

.showImg {
	width: 100%;
	max-height: 400px;
}

.vesselBox {
    background-color: #ff8f00; 
    min-height: 100px;
    /*need this bc default is 15 r/l*/
    padding: 0;
    margin-bottom: 15px;
}

.actionBox {
    background-color: #8BB94D;
    min-height: 80px;
}


.ingredientBox {
    background-color: #7DBCD0;
}