<div class="container">
  <!-- New Recipe Form -->
  <div class="row raised recipeForm">
    <form name="recipeForm hideForm" ng-submit="newRecipe()" class="form-group" ng-if="recipeFormVisible" novalidate>
      <input type="text" ng-model="Recipe.title" class="form-control" placeholder="name">
      <textarea ng-model="Recipe.description" class="form-control" placeholder="its story..." cols="30" rows="5"></textarea>
      <!-- Temp image uploader  -->
      <input type="url" ng-model="Recipe.images[0]" class="form-control" placeholder="image url">
      <input type="text" ng-model="Recipe.totalTime" class="form-control" placeholder="total time">
      <input type="number" ng-model="Recipe.servings" class="form-control" placeholder="number of servings">
      <a class="btn-flat right" ng-click="toggleRecipeForm()" ng-if='recipeFormVisible'>Done!</a>
    </form>
    <a class="btn-flat right" ng-click="toggleRecipeForm()" ng-if='!recipeFormVisible'>Recipe Details</a>
  </div> 
  <div class="row">
    <div class="col l5 m5 s12 raised"> <!-- allIngredients Column -->
      <table>
        <thead>
          <tr>
            <h5 class="headings">INGREDIENTS</h5>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='ingredient in Recipe.allIngredients'>
            <td>{{ingredient.imperialQuantity}}</td>
            <td>{{ingredient.imperialUnits}}</td>
            <td>{{ingredient.ingredientName}}</td>
          </tr>
        </tbody>
      </table>
      
      <!-- All Ingredients Form -->
      <!-- <div class="raised"> -->
        <form class="allIngredientsForm" name="allIngredientsForm" ng-submit="addIngredientToAllIngredients(newAllIngredient)" class="form-group" novalidate>        
          <input type="text" ng-model="newAllIngredient.imperialQuantity" class="form-control" placeholder="amount">
          <input type="text" ng-model="newAllIngredient.imperialUnits" class="form-control" placeholder="unit">        
          <input type="text" ng-model="newAllIngredient.ingredientName" class="form-control" placeholder="name">
          <input type="text" ng-model="newAllIngredient.description" class="form-control" placeholder="description (optional)">
          <input type="submit" class="btn-flat right" ng-disabled="ingredientForm.$invalid" value="add">
        </form>
      <!-- </div> -->
      <!-- Temp Ingredients Bin -->
      <h5 class="card-title grey-text">Click&Drag to add to Guide</h5>
      <div ui-tree="movementOptions" data-nodrop-enabled="true">
        <ul ui-tree-nodes ng-model="tempIngredientBin" data-type="action">
          <li ui-tree-node ui-tree-handle class="ingredientBox allIngredentsMovable" ng-repeat="ingredient in tempIngredientBin" data-type="ingredient">
            {{ingredient.imperialQuantity}}
            {{ingredient.imperialUnits}}                        
            {{ingredient.ingredientName}}            
          </li>
        </ul>
      </div>
    </div> <!-- col l5 m5 s12 -->
    
    <div class="col l6 m6 s12 right raised"> <!-- Guide Column -->
      <h5 class="headings">GUIDE</h5>
      <div class="divider"></div>
      <div ui-tree="movementOptions">
        <ol ui-tree-nodes class="recipeOl" ng-model="Recipe.vessels" data-type='recipe'>
          <li ui-tree-node ui-tree-handle ng-repeat='vessel in Recipe.vessels' data-type='vessel'>   
            <!-- Vessel div -->
            <div class="vesselBox" ng-if="!vessel.transition">
              {{vessel.vesselName}}
              <div class="pencilTrashBox">
                <i class="fa fa-pencil fa-fw modal-trigger"  data-nodrag href="#{{vessel.$$hashKey | chopObject}}"></i>
                <i class="fa fa-trash-o fa-fw" data-nodrag ng-click="remove(this)"></i>
              </div>
              <div ui-tree="movementOptions">
                <ol ui-tree-nodes ng-model='vessel.actions' data-type='vessel'>
                  <li ui-tree-node ui-tree-handle class="actionBox" ng-repeat='action in vessel.actions' data-type='action'>
                    {{action.actionName}}
                    <div class="pencilTrashBox">
                      <i class="fa fa-pencil fa-fw modal-trigger" data-nodrag href="#{{action.$$hashKey | chopObject}}"></i>
                      <i class="fa fa-trash-o fa-fw" data-nodrag ng-click="remove(this)"></i>
                    </div>
                    <div class="timeIngredientsBox">                      
                      <div class="timeBox">
                        <div>{{action.time}}</div>
                        <i class="material-icons" ng-show="action.time">query_builder</i>
                      </div>
                      <div ui-tree="movementOptions" class="ingredientsBox">
                        <ol ui-tree-nodes ng-model='action.ingredients' data-type='action'>
                          <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat='ingredient in action.ingredients' data-type='ingredient'>
                            {{ingredient.imperialQuantity}}
                            {{ingredient.imperialUnits}}                        
                            {{ingredient.ingredientName}}  
                            <div class="pencilTrashBox">
                              <i class="fa fa-pencil fa-fw modal-trigger" data-nodrag href="#{{ingredient.$$hashKey | chopObject}}"></i>
                              <i class="fa fa-trash-o fa-fw" data-nodrag ng-click="remove(this)"></i>
                            </div>
                            <!-- Modal Structure -->
                            <div data-nodrag id="{{ingredient.$$hashKey | chopObject}}" class="modal">
                              <div class="modal-content">
                                <h4>Edit Ingredient</h4>
                                <input type="text" ng-model="ingredient.imperialQuantity" placeholder="amount">
                                <input type="text" ng-model="ingredient.imperialUnits" placeholder="units">
                                <input type="text" ng-model="ingredient.ingredientName" placeholder="name">
                                <input type="text" ng-model="ingredient.description" placeholder="description (optional)">
                              </div>
                              <div class="modal-footer">
                                <a href="#/create" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
                              </div>
                            </div>
                          </li>
                        </ol>

                        <!-- New Ingredient Form -->
                        <div class="ingredientForm hideForm">
                          <form name="ingredientForm" ng-if="action.formVisible" ng-submit="addIngredientToAction(ingredientForm.$valid)" novalidate>
                            <input type="text" ng-model="newIngredient.imperialQuantity" class="form-control" placeholder="amount">
                            <input type="text" ng-model="newIngredient.imperialUnits" class="form-control" placeholder="units">        
                            <input type="text" ng-model="newIngredient.ingredientName" class="form-control" placeholder="name">
                            <input type="text" ng-model="newIngredient.description" class="form-control" placeholder="description (optional)">
                            
                            <input type="submit" class="btn-flat right disabled" ng-disabled="ingredientForm.$invalid" value="add">

                            <!-- <input type="submit" class="btn btn-primary" ng-disabled="ingredientForm.$invalid" value="add"> -->
                          </form>
                        </div>
                      </div>
                    </div>
                    <a data-nodrag class="formTrigger ingredientFormTrigger" href="" ng-click="toggleForm(this)">+ ingredient...</a>
                    <!-- Action Edit Modal -->
                    <div data-nodrag id="{{action.$$hashKey | chopObject}}" class="modal">
                      <div class="modal-content">
                        <h4>Edit action</h4>
                        <input type="text" ng-model="action.actionName" placeholder="name">
                        <input type="text" ng-model="action.time" placeholder="time">
                        <input type="text" ng-model="action.description" placeholder="description (optional)">
                      </div>
                      <div class="modal-footer">
                        <a href="#/create" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
                      </div>
                    </div>
                  </li>
                </ol>
                <div class="hideForm actionFormFlex" ng-if="vessel.formVisible">
                  <form class="actionForm" name="actionForm" ng-submit="addAction(actionForm.$valid)" class="form-group" novalidate>
                    <input type="text" ng-model="newAction.actionName" class="form-control" placeholder="new action">
                    <input type="number" ng-model="newAction.time" class="form-control" placeholder="duration">
                    <input type="text" ng-model="newAction.description" class="form-control" placeholder="description (optional)">                         
                    <input type="submit" class="btn-flat right disabled" ng-disabled="actionForm.$invalid" value="add">
                  </form>
                </div>

                <!-- Vessel Edit Modal -->
                <div data-nodrag id="{{vessel.$$hashKey | chopObject}}" class="modal">
                  <div class="modal-content">
                    <h4>Edit vessel</h4>
                    <input type="text" ng-model="vessel.vesselName" placeholder="name">
                    <input type="text" ng-model="vessel.description" placeholder="description (optional)">
                  </div>
                  <div class="modal-footer">
                    <a href="#/create" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
                  </div>
                </div>
                <a data-nodrag class="actionFormTrigger formTrigger" href="" ng-click="toggleForm(this)">+ action...</a>
              </div>
            </div>
            <!-- Transition div -->
            <div class="transitionBox" class="z-depth-1" ng-if="vessel.transition">
              {{vessel.vesselName}}
              <div class="pencilTrashBox">
                <i class="fa fa-pencil fa-fw modal-trigger" data-nodrag href="#{{vessel.$$hashKey | chopObject}}"></i>
                <i class="fa fa-trash-o fa-fw" data-nodrag ng-click="remove(this)"></i>
              </div>
              <!-- Transition Edit Modal -->
              <div data-nodrag id="{{vessel.$$hashKey | chopObject}}" class="modal">
                <div class="modal-content">
                  <h4>Edit transition</h4>
                  <input type="text" ng-model="vessel.vesselName" placeholder="transition">
                </div>
                <div class="modal-footer">
                  <a href="#/create" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>  

      <div class="newVesselAndTransitionBox">        
          <!-- Add Vessel Form -->
          <div class="addVesselBox">
            <div class="hideForm" ng-if="formVisible">
              <form name="vesselForm" ng-submit="addVessel(vesselForm.$valid)" class="form-group" novalidate>
                <input type="text" ng-model="newVessel.vesselName" class="form-control" placeholder="new vessel">
                <input type="text" ng-model="newVessel.description" class="form-control" placeholder="description (optional)">                    
                <input type="submit" class="btn-flat right" ng-disabled="vesselForm.$invalid" value="add">
              </form>
            </div>
            <!-- <br> -->
            <a class="waves-effect waves-light btn-flat" ng-click="toggleVesselForm()">+ vessel...</a>

          </div>  
          <!-- Add Transition Form -->
          <div class="addTransitionBox">
            <div class="hideForm" ng-if="transitionFormVisible">
              <form name="vesselForm" ng-submit="addVessel(vesselForm.$valid)" class="form-group" novalidate>
                <input type="text" ng-model="newVessel.vesselName" class="form-control" placeholder="transition">
                <ng-model='newVessel.transition' ng-init="newVessel.transition = 'true'">                    
                <input type="submit" class="btn-flat right" ng-disabled="vesselForm.$invalid" value="add">
              </form>
            </div>
            <!-- <br> -->
            <a class="waves-effect waves-light btn-flat" ng-click="toggleTransitionForm()">+ transition...</a>
          </div>
      </div>

      <div class="newVesselAndTransitionBox">
        <a class="waves-effect waves-light btn-flat" ng-click='showRecipe(Recipe._id); saveRecipe()'>Publish </a>
        <a class="waves-effect waves-light btn-flat" ng-click='startNewRecipe()'>Build New Recipe</a>
        <a class="waves-effect waves-light btn-flat" ng-click='deleteRecipe()'>Delete Recipe</a>
      </div>

    </div> <!-- col l6 m6 s12 right -->
  </div>  
</div>
