<h1>I am the create page from the client views folder</h1>

<div class="container">
  <div class="row">
    <div class="col l5 m5 s12"> <!-- allIngredients Column -->
      <h5 class="card-title grey-text">Ingredients</h5>
      <div class="ingredientHead z-depth-1">
        <ul class="collection">
          <li ng-repeat='ingredient in Recipe.allIngredients' class="collection-item">
            
            <div class="ingredientBox">{{ingredient.imperialQuantity}}</div>
            <div class="ingredientBox">{{ingredient.imperialUnits}}</div>
            <div class="ingredientBox">{{ingredient.ingredientName}}</div>

          </li>
        </ul>
      </div>
      <!-- All Ingredients Form -->
      <form name="allIngredientsForm" ng-submit="addIngredientToAllIngredients(newAllIngredient)" class="form-group" novalidate>        
      <input type="text" ng-model="newAllIngredient.imperialQuantity" class="form-control" placeholder="amount">
      <input type="text" ng-model="newAllIngredient.imperialUnits" class="form-control" placeholder="unit">        
      <input type="text" ng-model="newAllIngredient.ingredientName" class="form-control" placeholder="name">
      <input type="text" ng-model="newAllIngredient.description" class="form-control" placeholder="description (optional)">
      <input type="submit" class="btn btn-primary" ng-disabled="ingredientForm.$invalid" value="add">
      </form>
      <!-- Temp Ingredients Bin -->
      <h5 class="card-title grey-text">Click&Drag to add to Guide</h5>
      <div ui-tree="movementOptions" data-nodrop-enabled="true">
        <ul ui-tree-nodes ng-model="tempIngredientBin" data-type="action">
          <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat="ingredient in tempIngredientBin" data-type="ingredient">
            {{ingredient.imperialQuantity}}
            {{ingredient.imperialUnits}}                        
            {{ingredient.ingredientName}}            
          </li>
        </ul>
      </div>
    </div> <!-- col l5 m5 s12 -->
    
    <div class="col l6 m6 s12 right"> <!-- Guide Column -->
      <h5 class="card-title grey-text">Guide</h5>
      <div ui-tree="movementOptions">
        <ol ui-tree-nodes ng-model="Recipe.vessels" data-type='recipe'>
          <li ui-tree-node ui-tree-handle ng-repeat='vessel in Recipe.vessels' data-type='vessel'>   
            <!-- Vessel div -->
            <div class="vesselBox" ng-if="!vessel.transition">
              {{vessel.vesselName}}

              <i class="fa fa-cutlery"></i>

              <div ui-tree="movementOptions">
                <ol ui-tree-nodes ng-model='vessel.actions' data-type='vessel'>
                  <li ui-tree-node ui-tree-handle class="actionBox" ng-repeat='action in vessel.actions' data-type='action'>
                    {{action.actionName}}
                    <div class="timeIngredientsBox">                      
                      <div class="timeBox">
                        <div>{{action.time}}</div>
                        <i class="material-icons">query_builder</i>
                      </div>
                      <div ui-tree="movementOptions" class="ingredientsBox">
                        <ol ui-tree-nodes ng-model='action.ingredients' data-type='action'>
                          <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat='ingredient in action.ingredients' data-type='ingredient'>
                            {{ingredient.imperialQuantity}}
                            {{ingredient.imperialUnits}}                        
                            {{ingredient.ingredientName}}


                            
                            <a class="right" data-nodrag ng-click="remove(this)">delete</a>
                          </li>
                        </ol>
                        <!-- New Ingredient Form -->
                        <div class="hideForm" ng-if="action.formVisible">
                          <form name="ingredientForm" ng-submit="addIngredientToAction(ingredientForm.$valid)" class="form-group" novalidate>
                            <!-- New Ingredient Form -->
                          <input type="text" ng-model="newIngredient.imperialQuantity" class="form-control" placeholder="amount">
                          <input type="text" ng-model="newIngredient.imperialUnits" class="form-control" placeholder="unit">        
                          <input type="text" ng-model="newIngredient.ingredientName" class="form-control" placeholder="name">
                          <input type="text" ng-model="newIngredient.description" class="form-control" placeholder="description (optional)">
                          <input type="submit" class="btn btn-primary" ng-disabled="ingredientForm.$invalid" value="add">
                          </form>
                        </div>
                        <a href="" ng-click="toggleForm(this)">New ingredient form!</a>
                      </div>
                    </div>
                  </li>
                </ol>

                <div class="hideForm" ng-if="vessel.formVisible">
                  <form name="actionForm" ng-submit="addAction(actionForm.$valid)" class="form-group" novalidate>
                    <input type="text" ng-model="newAction.actionName" class="form-control" placeholder="new action">
                    <input type="number" ng-model="newAction.time" class="form-control" placeholder="duration">
                    <input type="text" ng-model="newAction.description" class="form-control" placeholder="description (optional)">     
                    <input type="submit" class="btn btn-primary" ng-disabled="actionForm.$invalid" value="add">
                  </form>
                </div>
                <a href="" ng-click="toggleForm(this)">New action form!</a>

              </div>
            </div>
            <!-- Transition div -->
            <div class="transitionBox" class="z-depth-1" ng-if="vessel.transition">{{vessel.vesselName}}</div>
          </li>
        </ol>
      </div>  

      <div class="newVesselAndTransitionBox">        
          <!-- Add Vessel Form -->
          <div class="hideForm" ng-if="formVisible">
            <form name="vesselForm" ng-submit="addVessel(vesselForm.$valid)" class="form-group" novalidate>
              <input type="text" ng-model="newVessel.vesselName" class="form-control" placeholder="new vessel">
              <input type="text" ng-model="newVessel.description" class="form-control" placeholder="description (optional)">                    
              <input type="submit" class="btn btn-primary" ng-disabled="vesselForm.$invalid" value="add">
            </form>
          </div>
          <a href="" ng-click="toggleVesselForm()">Add a vessel</a>
          
          <!-- Add Transition Form -->
          <div class="hideForm" ng-if="transitionFormVisible">
            <form name="vesselForm" ng-submit="addVessel(vesselForm.$valid)" class="form-group" novalidate>
              <input type="text" ng-model="newVessel.vesselName" class="form-control" placeholder="transition">
              <ng-model='newVessel.transition' ng-init="newVessel.transition = 'true'">                    
              <input type="submit" class="btn btn-primary" ng-disabled="vesselForm.$invalid" value="add">
            </form>
          </div>
          <a href="" ng-click="toggleTransitionForm()">Add a transition</a>
      </div>
      <button ng-click='saveRecipe()'>Publish </button>
      <button ng-click='startNewRecipe()'>Build New Recipe</button>
      <button ng-click='deleteRecipe()'>Delete Recipe</button>
    </div> <!-- col l6 m6 s12 right -->
  </div>  













    <!-- New Recipe Form -->
    <div class="hideForm">
      <form name="recipeForm" ng-submit="newRecipe()" class="form-group" ng-if="recipeFormVisible" novalidate>
      
      <input type="text" ng-model="Recipe.title" class="form-control" placeholder="name">
      <textarea ng-model="Recipe.description" class="form-control" placeholder="its story..." cols="30" rows="5"></textarea>
      <!-- Temp image uploader  -->
      <input type="url" ng-model="Recipe.images[0]" class="form-control" placeholder="image url">

      <input type="text" ng-model="Recipe.totalTime" class="form-control" placeholder="total time">
      <input type="number" ng-model="Recipe.servings" class="form-control" placeholder="number of servings">
      <!-- <input type="submit" class="btn btn-primary" ng-disabled="recipeForm.$invalid" value="add"> -->
      </form>
      <a href="" ng-click="toggleRecipeForm()" ng-if='!recipeFormVisible'>New recipe form!</a>
      <a href="" ng-click="toggleRecipeForm()" ng-if='recipeFormVisible'>Done!</a>
    </div> 

    <div ng-model="Recipe">    
      <img height="150" src='{{Recipe.images[0]}}'>
      <h3>{{Recipe.title}}</h3>
      <h4>{{Recipe.totalTime}}</h4>
      <h4>{{Recipe.description}}</h4>
      <h3>List of all ingredients</h3>
      <ul ng-repeat='ingredient in Recipe.allIngredients'>
        <li>            
          {{ingredient.imperialQuantity}}
          {{ingredient.imperialUnits}}                        
          {{ingredient.ingredientName}}
          {{ingredient.description}}         
        </li>     
      </ul>

      <!-- New All Ingredients Form -->
      <div class="hideForm">
        <form name="allIngredientsForm" ng-submit="addIngredientToAllIngredients(newAllIngredient)" class="form-group" novalidate>        
        <input type="text" ng-model="newAllIngredient.imperialQuantity" class="form-control" placeholder="amount">
        <input type="text" ng-model="newAllIngredient.imperialUnits" class="form-control" placeholder="unit">        
        <input type="text" ng-model="newAllIngredient.ingredientName" class="form-control" placeholder="name">
        <input type="text" ng-model="newAllIngredient.description" class="form-control" placeholder="description (optional)">
        <input type="submit" class="btn btn-primary" ng-disabled="ingredientForm.$invalid" value="add">
        </form>
      </div> 

      <!-- <h3>Click&Drag to add to actions </h3>  -->
      
      <div ui-tree="movementOptions" data-nodrop-enabled="true">
        <ul ui-tree-nodes ng-model="tempIngredientBin" data-type="action">
          <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat="ingredient in tempIngredientBin" data-type="ingredient">
            {{ingredient.imperialQuantity}}
            {{ingredient.imperialUnits}}                        
            {{ingredient.ingredientName}}            
          </li>
        </ul>
      </div>


      <div ui-tree="movementOptions" class="col-xs-7">
        <ol ui-tree-nodes ng-model="Recipe.vessels" data-type='recipe'>
          <li ui-tree-node ui-tree-handle ng-repeat='vessel in Recipe.vessels' data-type='vessel'>  
            <!-- Vessel div -->
            <div class="row vesselBox" ng-if="!vessel.transition">
              {{vessel.vesselName}}
              <input type="text" ng-model="vessel.vesselName">
              <!-- <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a> -->
              <div ui-tree="movementOptions">
                <ol ui-tree-nodes ng-model='vessel.actions' data-type='vessel'>
                    <li ui-tree-node ui-tree-handle ng-repeat='action in vessel.actions' data-type='action'>
                      <div class="row">
                        <div class="timeBox col-xs-1 col-sm-1">{{action.time}}</div>
                        <div class="actionBox col-sm-11">
                          {{action.actionName}}
                          <!-- Edit action form -->
                          <input type="text" ng-model="action.actionName">
                          <!-- <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a> -->

                          <div ui-tree="movementOptions">
                            <ol ui-tree-nodes ng-model='action.ingredients' data-type='action'>
                              <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat='ingredient in action.ingredients' data-type='ingredient'>
                                  {{ingredient.imperialQuantity}}
                                  {{ingredient.imperialUnits}}                        
                                  {{ingredient.ingredientName}}
                                  <!-- Edit ingredients form -->
                                  <input type="text" ng-model="ingredient.imperialQuantity">
                                  <input type="text" ng-model="ingredient.imperialUnits">
                                  <input type="text" ng-model="ingredient.ingredientName">
                                  <!-- Save edit button really the hide edit form button -->

                                  <!-- <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a> -->
                              </li>
                            </ol>
                            <!-- New Ingredient Form -->
                            <div class="hideForm" ng-if="action.formVisible">
                              <form name="ingredientForm" ng-submit="addIngredientToAction(ingredientForm.$valid)" class=All "form-grousp" novalidate>
                                <!-- New Ingredient Form -->
                              <input type="text" ng-model="newIngredient.imperialQuantity" class="form-control" placeholder="amount">
                              <input type="text" ng-model="newIngredient.imperialUnits" class="form-control" placeholder="unit">        
                              <input type="text" ng-model="newIngredient.ingredientName" class="form-control" placeholder="name">
                              <input type="text" ng-model="newIngredient.description" class="form-control" placeholder="description (optional)">
                              <input type="submit" class="btn btn-primary" ng-disabled="ingredientForm.$invalid" value="add">
                              </form>
                            </div>
                            <a href="" ng-click="toggleForm(this)">New ingredient form!</a>
                          </div>
                         </div> 
                      </div>
                    </li>

                </ol>
                <!-- New Action Form -->
                <div class="hideForm" ng-if="vessel.formVisible">
                  <form name="actionForm" ng-submit="addAction(actionForm.$valid)" class="form-group" novalidate>
                    <input type="text" ng-model="newAction.actionName" class="form-control" placeholder="new action">
                    <input type="number" ng-model="newAction.time" class="form-control" placeholder="duration">
                    <input type="text" ng-model="newAction.description" class="form-control" placeholder="description (optional)">     
                    <input type="submit" class="btn btn-primary" ng-disabled="actionForm.$invalid" value="add">
                  </form>
                </div>
                <a href="" ng-click="toggleForm(this)">New action form!</a>
              </div>
            </div>
            <!-- Transition div -->
            <div class="row actionBox" ng-if="vessel.transition">{{vessel.vesselName}}</div>
          </li>
        </ol>

        <!-- Add Vessel Form -->
        <div class="hideForm" ng-if="formVisible">
          <form name="vesselForm" ng-submit="addVessel(vesselForm.$valid)" class="form-group" novalidate>
            <input type="text" ng-model="newVessel.vesselName" class="form-control" placeholder="new vessel">
            <input type="text" ng-model="newVessel.description" class="form-control" placeholder="description (optional)">                    
            <input type="submit" class="btn btn-primary" ng-disabled="vesselForm.$invalid" value="add">
          </form>
        </div>
        <a href="" ng-click="toggleVesselForm()">Add a vessel</a>
        
        <!-- Add Transition Form -->
        <div class="hideForm" ng-if="transitionFormVisible">
          <form name="vesselForm" ng-submit="addVessel(vesselForm.$valid)" class="form-group" novalidate>
            <input type="text" ng-model="newVessel.vesselName" class="form-control" placeholder="transition">
            <ng-model='newVessel.transition' ng-init="newVessel.transition = 'true'">                    
            <input type="submit" class="btn btn-primary" ng-disabled="vesselForm.$invalid" value="add">
          </form>
        </div>
        <a href="" ng-click="toggleTransitionForm()">Add a transition</a>
        

      </div> 
  </div>
