<div class="container">
	<!-- <h1>I am the index.html from the client views</h1> -->
	<div class="row">
	  <div class="col s12 m6 l4" ng-repeat="recipe in allRecipes">

			<div class="card medium">
			  
			  <div class="card-image hoverable" ng-click="showRecipe(recipe._id)">
			    <img src="{{recipe.images[0]}}">
			    <span class="card-title">{{recipe.title}}</span>
			  </div>

			  <div class="card-content activator">
			    <span class="card-title grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
			    <p class="activator">{{recipe.description}}</p>
			  </div>

			  <div class="card-reveal">
			    <span class="card-title grey-text text-darken-4">{{recipe.title}}<i class="material-icons right">close</i></span>
			    <p>{{recipe.description}}</p>
			  </div>

			</div>
		</div>
	</div>
</div>	