<div class="container">
  <div class="showCommandBar">
    <a class="waves-effect waves-light btn-flat" ng-click="narrowColumn()">Compare</a>
    <a class="waves-effect waves-light btn-flat" ng-click="backToAllRecipes()">back</a>
    <a class="waves-effect waves-light btn-flat" ng-click="goToEditPage()">Edit</a>
  </div>
	<div class="row">
		<div ng-class='mainColumn' ng-model="oneRecipe">	
		  <div class="recipeHead z-depth-1 showGuide">
		  	<h2 class="card-title grey-text">{{oneRecipe.title}}</h2>		
		    <img class="showImg" src="{{oneRecipe.images[0]}}" alt="images/thumb_default.png">
		    <div class="row showTimeServings center">
		      <div class="col l6 m6 s6 center showTime">
		      	<i class="fa fa-clock-o"></i>
		      	{{oneRecipe.totalTime}} Mins
		      </div> <!-- use plurize -->
		      <div class="col l6 m6 s6 center showServings">
		      	<i class="fa fa-cutlery"></i>
		      	{{oneRecipe.servings}} Servings
		      </div>
		    </div>
				<div> <!-- make this hoverover expand -->
					<p>{{oneRecipe.description}}</p>
				</div>
		  </div>
			<div class="row">
				<div ng-class="ingredientsColumn"> <!-- Ingredients Column -->
					<div class="raised showGuide">
			     <table>
			        <thead>
			          <tr>
			            <h5 class="headings">INGREDIENTS</h5>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-repeat='ingredient in oneRecipe.allIngredients'>
			            <td>{{ingredient.imperialQuantity}}</td>
			            <td>{{ingredient.imperialUnits}}</td>
			            <td>{{ingredient.ingredientName}}</td>
			          </tr>
			        </tbody>
			      </table>
			     </div>
					</div>
				<div ng-class="guideColumn">	<!-- Guide Column -->
					<div class="raised showGuide">
					<h5 class="headings">GUIDE</h5>
					<div class="divider"></div>
						<!-- movementOptions are not in the SHOW page -->
				    <!-- change data-drag-enabled to true when borrowing: place boolean variable in $scope and change it when the user clicks borrow button    -->
				    <div ui-tree data-drag-enabled="false"> <!-- Vessel div -->
				      <ol ui-tree-nodes class="recipeOl" ng-model="oneRecipe.vessels" data-type='recipe'>
				        <li ui-tree-node ui-tree-handle ng-repeat='vessel in oneRecipe.vessels' data-type='vessel'>   
				          <div class="vesselBox" class="z-depth-1" ng-if="!vessel.transition">
				            {{vessel.vesselName}}
				            <div ui-tree data-drag-enabled="false"> <!-- Action Div -->
				              <ol ui-tree-nodes ng-model='vessel.actions' data-type='vessel'>
				                <li ui-tree-node ui-tree-handle class="actionBox" ng-repeat='action in vessel.actions' data-type='action'>
					                {{action.actionName}}
													<div class="timeIngredientsBox"> <!-- Time Ingredient Box -->									
														<div class="timeBox"> <!-- Time Box -->
															<div>{{action.time}}</div>
															<i class="fa fa-clock-o"></i>
														</div>
					                  <div ui-tree class="ingredientsBox" data-drag-enabled="false"> <!-- Ingredient Box -->
					                    <ol ui-tree-nodes ng-model='action.ingredients' data-type='action'>
					                      <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat='ingredient in action.ingredients' data-type='ingredient'>
				                          {{ingredient.imperialQuantity}}
				                          {{ingredient.imperialUnits}}                        
				                          {{ingredient.ingredientName}}
					                      </li>
					                    </ol>
					                  </div>
													</div>
				                </li>
				              </ol>
				            </div>
				          </div>
									<!-- Transition div -->
				          <div class="transitionBox" class="z-depth-1" ng-if="vessel.transition">{{vessel.vesselName}}</div>
				        </li>
				      </ol>
				    </div>  
				    </div>
				</div>
			</div>
		</div>
		
		<div class="col l6 m6 s6" ng-if="compareRecipe">
		<!-- <h2 class="card-title grey-text">Compare</h2> -->
			<!-- Compare Index -->
			<div class="col l8 m8 s8" ng-if="recipeRecipesSwitch">
				<div ng-repeat="recipe in allRecipes" ng-click="showOneRecipe(recipe._id)">				
					<div class="card small">
					  <div class="card-image hoverable" ng-click="showRecipe(recipe._id)">
					    <img src="{{recipe.images[0]}}">
					    <span class="card-title">{{recipe.title}}</span>
					  </div>
					  <div class="card-content activator">
					    <span class="card-title grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
					    <p class="activator">{{recipe.description}}</p>
					  </div>
					  <div class="card-reveal">
					    <span class="card-title grey-text text-darken-4">{{recipe.title}}<i class="material-icons right">close</i></span>
					    <p>{{recipe.description}}</p>
					  </div>
					</div>
				</div>
			</div>

			<!-- Compare One Recipe -->
			<div class="col l12 m12 s12 right" ng-model="anotherRecipe" ng-if="!recipeRecipesSwitch">
		  <div class="recipeHead z-depth-1 showGuide">
		  	<h2 class="card-title grey-text">{{anotherRecipe.title}}</h2>		
		    <img class="showImg" src="{{anotherRecipe.images[0]}}" alt="images/thumb_default.png">
		    <div class="row showTimeServings center">
		      <div class="col l6 m6 s6 center showTime">
		      	<i class="fa fa-clock-o"></i>
		      	{{anotherRecipe.totalTime}} Mins
		      </div> <!-- use plurize -->
		      <div class="col l6 m6 s6 center showServings">
		      	<i class="fa fa-cutlery"></i>
		      	{{anotherRecipe.servings}} Servings
		      </div>
		    </div>
				<div> <!-- make this hoverover expand -->
					<p>{{anotherRecipe.description}}</p>
				</div>
		  </div>
			<div class="row">
				<div ng-class="ingredientsColumn"> <!-- Ingredients Column -->
					<div class="raised showGuide">
			     <table>
			        <thead>
			          <tr>
			            <h5 class="headings">INGREDIENTS</h5>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-repeat='ingredient in anotherRecipe.allIngredients'>
			            <td>{{ingredient.imperialQuantity}}</td>
			            <td>{{ingredient.imperialUnits}}</td>
			            <td>{{ingredient.ingredientName}}</td>
			          </tr>
			        </tbody>
			      </table>
			     </div>
					</div>
				<div ng-class="guideColumn">	<!-- Guide Column -->
					<div class="raised showGuide">
					<h5 class="headings">GUIDE</h5>
					<div class="divider"></div>
						<!-- movementOptions are not in the SHOW page -->
				    <!-- change data-drag-enabled to true when borrowing: place boolean variable in $scope and change it when the user clicks borrow button    -->
				    <div ui-tree data-drag-enabled="false"> <!-- Vessel div -->
				      <ol ui-tree-nodes class="recipeOl" ng-model="anotherRecipe.vessels" data-type='recipe'>
				        <li ui-tree-node ui-tree-handle ng-repeat='vessel in anotherRecipe.vessels' data-type='vessel'>   
				          <div class="vesselBox" class="z-depth-1" ng-if="!vessel.transition">
				            {{vessel.vesselName}}
				            <div ui-tree data-drag-enabled="false"> <!-- Action Div -->
				              <ol ui-tree-nodes ng-model='vessel.actions' data-type='vessel'>
				                <li ui-tree-node ui-tree-handle class="actionBox" ng-repeat='action in vessel.actions' data-type='action'>
					                {{action.actionName}}
													<div class="timeIngredientsBox"> <!-- Time Ingredient Box -->									
														<div class="timeBox"> <!-- Time Box -->
															<div>{{action.time}}</div>
															<i class="fa fa-clock-o"></i>
														</div>
					                  <div ui-tree class="ingredientsBox" data-drag-enabled="false"> <!-- Ingredient Box -->
					                    <ol ui-tree-nodes ng-model='action.ingredients' data-type='action'>
					                      <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat='ingredient in action.ingredients' data-type='ingredient'>
				                          {{ingredient.imperialQuantity}}
				                          {{ingredient.imperialUnits}}                        
				                          {{ingredient.ingredientName}}
					                      </li>
					                    </ol>
					                  </div>
													</div>
				                </li>
				              </ol>
				            </div>
				          </div>
									<!-- Transition div -->
				          <div class="transitionBox" class="z-depth-1" ng-if="vessel.transition">{{vessel.vesselName}}</div>
				        </li>
				      </ol>
				    </div>  
				  </div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>






		

