<button ng-click="narrowColumn()">switch!</button>
<button ng-click="backToAllRecipes()">back</button>
<div class="container">
	<div class="row">
		<div ng-class='mainColumn' ng-model="oneRecipe">
			<h2 class="card-title grey-text">{{oneRecipe.title}}</h2>				
		  <div class="recipeHead z-depth-1">
		    <img class="showImg" src="{{oneRecipe.images[0]}}" alt="images/thumb_default.png">
		    <div class="row">
		      <div class="col l6 m6 s6 center">{{oneRecipe.totalTime}} mins</div> <!-- use plurize -->
		      <div class="col l6 m6 s6 center">{{oneRecipe.servings}}</div>
		    </div>
				<div> <!-- make this hoverover expand -->
					<p>{{oneRecipe.description}}</p>
				</div>
		  </div>
			<div class="row">
				<div ng-class="ingredientsColumn"> <!-- Ingredients Column -->
					<h5 class="card-title grey-text">Ingredients</h5>
					<div class="ingredientHead z-depth-1">
					 	<ul class="collection">
					    <!-- <li class="collection-header"><h5>Ingredients</h5></li> -->
					    <li ng-repeat='ingredient in oneRecipe.allIngredients' class="collection-item">
					      {{ingredient.imperialQuantity}}
					      {{ingredient.imperialUnits}}                        
					      {{ingredient.ingredientName}}         
					    </li>
					  </ul>
					</div>
				</div>
				<div ng-class="guideColumn">	<!-- Guide Column -->
					<h5 class="card-title grey-text">Guide</h5>
						<!-- movementOptions are not in the SHOW page -->
				    <!-- change data-drag-enabled to true when borrowing: place boolean variable in $scope and change it when the user clicks borrow button    -->
				    <div ui-tree data-drag-enabled="false"> <!-- Vessel div -->
				      <ol ui-tree-nodes ng-model="oneRecipe.vessels" data-type='recipe'>
				        <li ui-tree-node ui-tree-handle ng-repeat='vessel in oneRecipe.vessels' data-type='vessel'>   
				          <div class="vesselBox" class="z-depth-1" ng-if="!vessel.transition">
				            {{vessel.vesselName}}
				            <div ui-tree data-drag-enabled="false"> <!-- Action Div -->
				              <ol ui-tree-nodes ng-model='vessel.actions' data-type='vessel'>
				                <li ui-tree-node ui-tree-handle class="actionBox" ng-repeat='action in vessel.actions' data-type='action'>
					                {{action.actionName}}
													<div class="timeIngredientsBox"> <!-- Time Ingredient Box -->									
														<div class="timeBox"> <!-- Time Box -->
															<div>{{action.time}}</div>
															<i class="material-icons">query_builder</i>
														</div>
					                  <div ui-tree class="ingredientsBox" data-drag-enabled="false"> <!-- Ingredient Box -->
					                    <ol ui-tree-nodes ng-model='action.ingredients' data-type='action'>
					                      <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat='ingredient in action.ingredients' data-type='ingredient'>
				                          {{ingredient.imperialQuantity}}
				                          {{ingredient.imperialUnits}}                        
				                          {{ingredient.ingredientName}}
					                      </li>
					                    </ol>
					                  </div>
													</div>
				                </li>
				              </ol>
				            </div>
				          </div>
									<!-- Transition div -->
				          <div class="transitionBox" class="z-depth-1" ng-if="vessel.transition">{{vessel.vesselName}}</div>
				        </li>
				      </ol>
				    </div>  
				</div>
			</div>
		</div>
		
		<div class="col l6 m6 s6" ng-if="compareRecipe">
		<!-- <h2 class="card-title grey-text">Compare</h2> -->
			<!-- Compare Index -->
			<div class="col l8 m8 s8" ng-if="recipeRecipesSwitch">
				<div ng-repeat="recipe in allRecipes" ng-click="showOneRecipe(recipe._id)">				
					<div class="card small">
					  <div class="card-image hoverable" ng-click="showRecipe(recipe._id)">
					    <img src="{{recipe.images[0]}}">
					    <span class="card-title">{{recipe.title}}</span>
					  </div>
					  <div class="card-content activator">
					    <span class="card-title grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
					    <p class="activator">{{recipe.description}}</p>
					  </div>
					  <div class="card-reveal">
					    <span class="card-title grey-text text-darken-4">{{recipe.title}}<i class="material-icons right">close</i></span>
					    <p>{{recipe.description}}</p>
					  </div>
					</div>
				</div>
			</div>

			<!-- Compare One Recipe -->
			<div class="col l12 m12 s12 right" ng-model="anotherRecipe" ng-if="!recipeRecipesSwitch">
				<h2 class="card-title grey-text">{{anotherRecipe.title}}</h2>				
			  <div class="recipeHead z-depth-1">
			    <img class="showImg" src="{{anotherRecipe.images[0]}}" alt="images/thumb_default.png">
			    <div class="row">
			      <div class="col l6 m6 s6 center">{{anotherRecipe.totalTime}} mins</div> <!-- use plurize -->
			      <div class="col l6 m6 s6 center">{{anotherRecipe.servings}}</div>
			    </div>
					<div> <!-- make this hoverover expand -->
						<p>{{anotherRecipe.description}}</p>
					</div>
			  </div>
				<div class="row">
					<div class="col l12 m12 s12"> <!-- Ingredients Column -->
						<h5 class="card-title grey-text">Ingredients</h5>
						<div class="ingredientHead z-depth-1">
						 	<ul class="collection">
						    <!-- <li class="collection-header"><h5>Ingredients</h5></li> -->
						    <li ng-repeat='ingredient in anotherRecipe.allIngredients' class="collection-item">
						      {{ingredient.imperialQuantity}}
						      {{ingredient.imperialUnits}}                        
						      {{ingredient.ingredientName}}         
						    </li>
						  </ul>
						</div>
					</div>
					<div class="col l12 m12 s12">	<!-- Guide Column -->
						<h5 class="card-title grey-text">Guide</h5>
							<!-- movementOptions are not in the SHOW page -->
					    <div ui-tree data-drag-enabled="false"> <!-- Vessel div -->
					      <ol ui-tree-nodes ng-model="anotherRecipe.vessels" data-type='recipe'>
					        <li ui-tree-node ui-tree-handle ng-repeat='vessel in anotherRecipe.vessels' data-type='vessel'>   
					          <div class="vesselBox" class="z-depth-1" ng-if="!vessel.transition">
					            {{vessel.vesselName}}
					            <div ui-tree data-drag-enabled="false"> <!-- Action Div -->
					              <ol ui-tree-nodes ng-model='vessel.actions' data-type='vessel'>
					                <li ui-tree-node ui-tree-handle class="actionBox" ng-repeat='action in vessel.actions' data-type='action'>
						                {{action.actionName}}
														<div class="timeIngredientsBox"> <!-- Time Ingredient Box -->									
															<div class="timeBox"> <!-- Time Box -->
																<div>{{action.time}}</div>
																<i class="material-icons">query_builder</i>
															</div>
						                  <div ui-tree class="ingredientsBox" data-drag-enabled="false"> <!-- Ingredient Box -->
						                    <ol ui-tree-nodes ng-model='action.ingredients' data-type='action'>
						                      <li ui-tree-node ui-tree-handle class="ingredientBox" ng-repeat='ingredient in action.ingredients' data-type='ingredient'>
					                          {{ingredient.imperialQuantity}}
					                          {{ingredient.imperialUnits}}                        
					                          {{ingredient.ingredientName}}
						                      </li>
						                    </ol>
						                  </div>
														</div>
					                </li>
					              </ol>
					            </div>
					          </div>
										<!-- Transition div -->
					          <div class="transitionBox" class="z-depth-1" ng-if="vessel.transition">{{vessel.vesselName}}</div>
					        </li>
					      </ol>
					    </div>  
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






		

